<%= simple_form_for(@resource.flower) do |f| %>
  <div class="article">
    <h2>Flower</h2>
    <ul>
      <li>
        <%= f.label :colour %><br>
        <%= select_tag "flower_colour",
            options_for_select(colours), 
              :include_blank => true %>
      </li>
      <li>
        <%= f.label "Number of Petals" %><br>
        <%= f.number_field :num_petals %>
      </li>
      <li>
        <%= f.label :clustered %><br>
        <%= f.check_box :clustered %>
      </li>
      <li>
        <%= f.label :edible %><br>
        <%= f.check_box :edible %>
      </li>
      <li>
        <%= f.label :flowering_month %><br>
        <%= select_tag "flowering_month",
          options_for_select(months), 
          :include_blank => true %>
      </li>
    </ul>
    <div class="field">
      <%= f.label "Image Url" %><br>
      <%= f.text_field :image, 
          :class => 'image_field' %>
    </div>
    <div class="field">
      <%= f.label :uses %><br>
      <%= f.text_area :uses %>
    </div>
    <div class="field">
      <%= f.label :cautions %><br>
      <%= f.text_area :cautions %>
    </div>
<!--     <div class="actions">
      <%= f.submit %>
    </div> -->
  </div>
<% end %>