<%= simple_fields_for(@resource.fruit) do |f| %>
  <div class="article">
    <h2>Fruit</h2>
    <ul>
      <li>
        <%= f.label :colour %><br>
        <%= select_tag "Flower Colour",
            options_for_select(colours), 
              :include_blank => true %>
      </li>
      <li>
        <%= f.label "diameter" %><br>
        <%= f.number_field :diameter %>
      </li>
      <li>
        <%= f.label :has_pit %><br>
        <%= f.check_box :has_pit %>
      </li>
      <li>
        <%= f.label :edible %><br>
        <%= f.check_box :edible %>
      </li>
      <li>
        <%= f.label :fruiting_month %><br>
        <%= select_tag "fruiting_month",
          options_for_select(months), 
          :include_blank => true %>
      </li>
    </ul>
    <div class="field">
      <%= f.label "Image Url" %><br>
      <%= f.text_field :image, 
          :class => 'image_field' %>
    </div>
    <div class="field">
      <%= f.label :uses %><br>
      <%= f.text_area :uses %>
    </div>
    <div class="field">
      <%= f.label :cautions %><br>
      <%= f.text_area :cautions %>
    </div>
<!--     <div class="actions">
      <%= f.submit %>
    </div> -->
  </div>
<% end %>