<%= form_for(@resource.leaf) do |f| %>
  <% if @resource.leaf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.leaf.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.leaf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="article">
    <h2>Leaf</h2>
    <ul>
      <li>
        <%= f.label :colour %><br>
        <%= select_tag "Leaf Colour",
            options_for_select(colours), 
              :include_blank => true %>
      </li>
      <li>
        <%= f.label :arrangement %><br>
        <%= select_tag "arrangement",
          options_for_select(@arrangements), 
          :include_blank => true %>
      </li>
      <li>
        <%= f.label :margin %><br>
        <%= select_tag "Margin",
            options_for_select(@margins), 
              :include_blank => true %>
      </li>
      <li>
        <%= f.label :tip_shapes %><br>
        <%= select_tag "Tip Shapes",
            options_for_select(@tip_shapes), 
              :include_blank => true %>
      </li>
            <li>
        <%= f.label :base_shape %><br>
        <%= select_tag "Base Shape",
            options_for_select(@base_shapes), 
              :include_blank => true %>
      </li>
      <li>
        <%= f.label :edible %><br>
        <%= f.check_box :edible %>
      </li>

    </ul>
    <div class="field">
      <%= f.label "Image Url" %><br>
      <%= f.text_field :image, 
          :class => 'image_field' %>
    </div>
    <div class="field">
      <%= f.label :uses %><br>
      <%= f.text_area :uses %>
    </div>
    <div class="field">
      <%= f.label :cautions %><br>
      <%= f.text_area :cautions %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>