<h1>plants index</h1>

<div class="listing">
  <ul>
    <% @collection.each do |plant| %>
      <li>
        <img src="<%= plant.image %>">
        <%= plant.common_name %>
        <%= link_to "Edit", edit_plant_url(plant) %>
        <%= link_to "Show",
          plant_url(plant) %>
      </li>
    <% end %>
  </ul>
</div>




<%= link_to "New", new_plant_url %>