<div class="mediaCard clearfix">
  <img src="<%= @resource.image || @default_image %>">
  <div>
    <ul>
      <li><h3>Common Name: <%= @resource.common_name %><h3></li>
      <li><h4>Latin Name: <%= @resource.latin_name %></h4></li> 
      <li><h6>Location: <%= @resource.location %></h6></li> 
      <li><h6>Size: <%= @resource.size %></h6></li>
      <li>Uses: <%= @resource.uses %></li>
      <li>Cautions: <%= @resource.cautions %></li>
    </ul>
    <%= link_to 'Edit', edit_plant_path(@resource) %> | 
    <a href="/">Plants</a>
  </div>

  

  <div class="mediaCard clearfix">
    <h3>Flower</h3>
    <ul>
      <li><img src="<%= @flower.image || @default_image %>"></li>
      <li>Flowering Month: <%= @flower.flowering_month %></li>
      <li>Clustered: <%= @flower.clustered %> </li>
      <li>Number of Petals: <%= @flower.num_petals %></li>
      <li>Colour: <%= @flower.colour %></li>
      <li>Uses: <%= @flower.uses %></li>
      <li>Cautions: <%= @flower.cautions %></li>
    </ul>
  </div>

  <div class="mediaCard clearfix">
    <h3>Fruit</h3>
    <ul>

    </ul>
  </div>

  <div class="mediaCard clearfix">
    <h3>Leaf</h3>
    <ul>

    </ul>
  </div>

  <div class="mediaCard clearfix">
    <h3>Root</h3>
    <ul>

    </ul>
  </div>

  <div class="mediaCard clearfix">
    <h3>Stalk</h3>
    <ul>

    </ul>
  </div>


</div>